<div>
    informations <br>
<input type="text"[(ngModel)]="informations.firstname">firstName<br>
<input type="text"[(ngModel)]="informations.lastName">lastname<br>
<input type="text"[(ngModel)]="informations.email" >mail<br>
<input type="text"[(ngModel)]="informations.phone">phone<br>
</div>
<div>
    education <br>
    <input type="text"[(ngModel)]="education.degree">degree<br>
    <input type="text"[(ngModel)]="education. school">school<br>
    <input type="text"[(ngModel)]="  education.graduationYear" >graduation year<br>
</div>
<div>
    experience<br>
<input type="text"[(ngModel)]="experience.position">position <br>
<input type="text"[(ngModel)]="experience.company">company<br>
<input type="text"[(ngModel)]="experience.startDate" >StartDate<br>
<input type="text"[(ngModel)]="experience.endDate">endDate<br>
</div>
